@charset "utf-8";

/*
 * Navigation Bar Styles
 */
.navbar-brand {
  height: 100%;
  padding: 1 1 0 0;
}

.img-responsive {
  height: 120px;
  max-height: 100%;
  max-width: auto;
}

.navbar-left {
  padding-left: 5%;
}
