<nav ng-controller="header-contents" class="navbar navbar-default">
  <div class="container-fluid">
        <div class="navbar-left">
          <address>
            <strong>Arnold Pelka</strong><br/>
            <em>Gaskins Place Shopping Center</em><br/>
            1127 Gaskins Road<br/>
            Richmond, VA 23238<br/>
            <abbr title="Phone">P:</abbr> <a href="tel:+18043504504">(804) 350-4504</a><br/>
          </address>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>Home</li>
          </ul>
        </div>
      </div>
</nav>
