<nav id="name-hdr" ng-controller="header-contents" class="navbar navbar-default">
  <div class="row navbar">
    <h1>Arnold Pelka</h1>
  </div>
  <div id="addr-inline-row" class="row container-fluid">
    <address>
      <em>
        <div id="hdr-addr-1" class="col-xs-12 col-sm-4 col-lg-3">5725 Clarinbridge Ct.</div>
        <div id="hdr-addr-2" class="col-xs-12 col-sm-4 col-lg-1">Apt. I</div>
        <div id="hdr-addr-2" class="col-xs-12 col-sm-4 col-lg-3">Henrico, VA 23228</div>
        <div id="hdr-phone" class="col-xs-12 col-sm-6 col-lg-2"><abbr title="Phone"></abbr><a ng-href="tel:+18145536737">(814) 553-6737</a></div>
        <div id="hdr-email" class="col-xs-12 col-sm-6 col-lg-3"><abbr title="Email"></abbr><a ng-href="mailto:arnoldpelka@gmail.com">arnoldpelka@gmail.com</a></div>
      </em>
    </address>
  </div>
</nav>
