<div class="row" ng-controller="main">
  <div class="row multi-grid-div" ng-repeat="grid in content">
    <div class="print-col-hdr col-xs-12 col-md-2 col-lg-2">
      <h6 class="text-muted">{{grid.categories}}</h6>
    </div>

    <div class="print-col-content col-xs-12 col-md-10 col-lg-10">
      <table class="table table-striped">
        <tbody>
          <tr ng-repeat="skill in grid.skills">
            <td class="grid-cell" ng-repeat="cell in skill.rows track by $index">{{cell}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
