<div ng-controller="main" ng-repeat="facet in content">
  <!-- Choice 1:  Displays explicit objective
       The objective section is optional, but will only display explicitly if section labeled "obj" is defined in data
       Displaying this option will not allow any other options to display for a facet in content
     -->
  <div ng-if="facet.section=='obj'" ng-repeat="highlight in facet.highlights">
    <div ng-repeat="tagLine in highlight.tagLines" class="col-xs-12 col-sm-12 col-lg-12 tag-line">{{tagLine}}</div>
  </div>

  <!-- Choice 2:  Displays main body of career facets and highlights
       Displaying this option will block the objective from displaying for this facet in content
     -->
  <div ng-if="facet.section!=='obj'" class="sub-highlight" ng-repeat="highlight in facet.highlights">
    <!-- Displays highlight details, such as company, job title, time frame worked, etc.
         These items are not required and will not display if data is omitted
       -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4 qualifier-content">
        <strong>{{highlight.job}}</strong>
      </div>
      <em>
        <div class="col-xs-12 col-sm-6 col-lg-4 text-center qualifier-content">{{highlight.company}}</div>
        <div class="col-xs-12 col-sm-6 col-lg-4 text-right qualifier-content">{{highlight.timeFrame}}</div>
      </em>
    </div>
    <div class="row">
      <em>
        <div class="col-xs-12 col-sm-6 col-lg-4 qualifier-content">{{highlight.level}}</div>
        <div class="col-xs-12 col-sm-6 col-lg-4 text-center qualifier-content"></div>
        <div class="col-xs-12 col-sm-6 col-lg-4 text-right qualifier-content">{{highlight.loc}}</div>
      </em>
    </div>

    <!-- Displays bulleted list of career qualifiers
         Displays in place of in-line references to minor work experience list
       -->
    <ul ng-if="highlight.qualifiers[0].inlineJob === undefined">
      <li ng-repeat="qualifier in highlight.qualifiers" ng-bind-html="qualifier" />
    </ul>
    <!-- Displays list of in-line past jobs
         Useful for displaying single-line references to minor work experience
         Displays in place of bulleted qualifiers list
       -->
    <table class="table borderless" ng-if="highlight.qualifiers[0].inlineJob !== undefined">
      <tbody>
        <tr ng-repeat="inlineJobs in highlight.qualifiers">
          <td ng-repeat="inlineJob in inlineJobs.inlineJob track by $index" ng-class="setRightSideClass($index)">{{inlineJob}}</td>
        </tr>
      </tbody>
    </table>
    <!-- Optional section displaying sub-set of specific achievements
           Not recommended for over-use for stylistic reasons -->
    <ul class="list-unstyled achievement-content">
      <li ng-repeat="achievement in highlight.achievements" ng-bind-html="achievement" />
    </ul>
  </div>
</div>
