<div class="container" ng-controller="main">
	<!-- Add new highlights for resume panel sections -->
	<div class="highlight">
		<div class="row text-muted highlight-hdr-name print-highlight-reducer">
			<h4 ng-bind="sections[0]" class="col-xs-12 col-sm-12 col-lg-12 tag" />
		</div>
		<facet-bullets content="obj"></facet-bullets>
	</div>

	<div class="highlight">
		<div class="row text-muted highlight-hdr-name print-highlight-reducer">
			<h4 ng-bind="sections[1]" class="col-xs-12 col-sm-12 col-lg-12 tag" />
		</div>
		<facet-bullets content="job"></facet-bullets>
	</div>

	<div class="highlight">
		<div class="row text-muted highlight-hdr-name print-highlight-reducer">
			<h4 ng-bind="sections[2]" class="col-xs-12 col-sm-12 col-lg-12 tag" />
		</div>
		<facet-bullets content="edu"></facet-bullets>
	</div>

	<div class="highlight">
		<div class="row text-muted highlight-hdr-name print-highlight-reducer">
			<h4 ng-bind="sections[3]" class="col-xs-12 col-sm-12 col-lg-12 tag" />
		</div>
		<facet-grids content="skills"></facet-grids>
	</div>

	<div class="highlight">
		<div class="row text-muted highlight-hdr-name print-highlight-reducer">
			<h4 ng-bind="sections[4]" class="col-xs-12 col-sm-12 col-lg-12 tag" />
		</div>
		<facet-bullets content="certs"></facet-bullets>
	</div>
</div>
