<div class="container" ng-controller="main">
		<!-- Add new highlights for resume panel sections -->
		<div class="highlight">
			<div class="row text-muted">
				<h4 ng-bind="sections[0]" class="col-xs-12 col-sm-12 col-lg-12 tag"/>
			</div>
			<facet-bullets></facet-bullets>
		</div>

		<div class="highlight">
			<div class="row text-muted">
				<h4 ng-bind="sections[1]" class="col-xs-12 col-sm-12 col-lg-12 tag"/>
			</div>
			<facet-bullets></facet-bullets>
		</div>

		<div class="highlight">
			<div class="row text-muted">
				<h4 ng-bind="sections[2]" class="col-xs-12 col-sm-12 col-lg-12 tag"/>
			</div>
			<facet-grids></facet-grids>
		</div>
</div>
